<a href="https://colab.research.google.com/github/RJuro/AS2021/blob/main/01_Python_%26_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python Intro

- Simple datatyper
- Grundlæggende matematiske operationer
- Lister
- Funktioner
- Control Flow

#### Simple datatyper
- Integers - hele tal **6**
- Floating-Point Numbers - decimaltal **3.2**
- Boolean - digital data type / bit **True / False**
- String - text **Roman**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
i = 6
print(i, type(i))

In [ ]:
x = 3.2
print(x, type(x))

In [ ]:
t = i == 6
print(t, type(t))

In [ ]:
s = 'Hello'
print(s, type(s))

#### Grundlæggende matematiske operationer

In [ ]:
a = 2.0
b = 3.0
print(a+b, a*b, a-b, a/b, a**2, a+b**2, (a+b)**2)

In [ ]:
c = a + b
print(c)

In [ ]:
a + b == c

In [ ]:
a + b < c

#### Lister

man kan pakke alt i en liste :-)

In [ ]:
l = ['Eskil', 1.0, sqrt]
type(l)

In [ ]:
l[2]

In [ ]:
l[0]

In [ ]:
l.append('Roman')

In [ ]:
l

In [ ]:
l.extend(['Marie',37])

In [ ]:
l

In [ ]:
l.pop(2)

In [ ]:
l

#### Funktioner

Funktioner har (normalt) in og outputs. $a$ og $b$ er vores input her og funktionen producerer $\sqrt{a^2 + b^2}$ som output.

Vi prøver lige ...

$\begin{align} a^2 + b^2 = c^2 \rightarrow c = \sqrt{a^2 + b^2} \end{align}$

In [ ]:
def pythagoras(a, b):
  return sqrt(a**2 + b**2)

In [ ]:
some_list = [(2,4),(6,7),(8,9),(1,6)]

In [ ]:
pd.DataFrame(some_list)

In [ ]:
[pythagoras(stuff[0],stuff[1]) for stuff in some_list]

In [ ]:
# Hvis man gør det rigtigt, så er det en god ide at kommentere hvad der sker. 
# Her er det en no-brainer men funktioner kan blive indviklede og
# det er good-practice at skrive "docstrings" til en anden eller en selv (i)

def pythagoras(a, b):
    """
    Computes the length of the hypotenuse of a right triangle
    
    Arguments
    a, b: the two lengths of the right triangle
    """
    
    return sqrt(a**2 + b**2)

##### Mini-assignment
* Lav en funktion, som tager to punkter $(x_1, y_1), (x_2, y_2)$ på en linje og beregner hældning $a$

$$ y = ax + b$$

$$ a = \frac{y_2- y_1}{x_2 - x_1}$$

In [ ]:
plt.plot((1,2), (2,3), 'ro-')
plt.plot((1,2), (2,2), 'bo-')
plt.plot((2,2), (2,3), 'bo-')

In [ ]:
#(1,2); (2,3)


(3-2)/(2-1)

In [ ]:
def slope(x1,x2,y1,y2):
  return ((y2-y1)/(x2-x1))

In [ ]:
slope(2,3,4,5)

#### Control flow

In [ ]:
def isNegative(n):
    if n < 0:
        return True
    else:
        return False

In [ ]:

some_numbers = np.random.randint(-10,10, size=20)

In [ ]:
sum([isNegative(x) for x in some_numbers])

##### Mini-assignment
* Lav en funktion `KtoC` som regner Kelvin om til Celcius
$$ C = K - 273.15 \quad \text{ved} \quad C\geq - 273.15$$
Funktionen udgiver `None` hvis $C < -273.15$

In [ ]:
def KtoC(k):
  c = k - 273.15
  if c >= -273.15:
    return c
  else:
    return None

In [ ]:
def KtoC(k):
  c = k - 273.15
  if c < -273.15:
    return None
  else:
    return c

In [ ]:
list(range(10))

In [ ]:
np.random.randint(-10,10, size=10)

In [ ]:
for number in [1,3,6,7,8]:
  print(number)
  print('🙄')

In [ ]:
# for-loop

even = [] # tom liste

for i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
    even.append(i*2)


print(even)

In [ ]:
# list-comprehension 

even = [2*i for i in range(10)]

print(even)

##### Mini-assignment
1. Beregn summen af integers  1 ... 100 ved at bruge `sum`, for-loop
2. Beregn summen af integers  1 ... 100 ved at bruge partial-sum formula
$$ \sum_{k=1}^n k = 1 + 2 + \cdots + (n-1) + n = \frac{n(n+1)}{2}$$

In [ ]:
# brug sum

sum(range(1,101))

### Python fresh-up

- Simple datatyper
- Grundlæggende matematiske operationer
- Lister
- Funktioner
- Control Flow

#### Simple datatyper
- Integers - hele tal **6**
- Floating-Point Numbers - decimaltal **3.2**
- Boolean - digital data type / bit **True / False**
- String - text **Roman*

In [ ]:
i = 6
print(i, type(i))

In [ ]:
x = 3.2
print(x, type(x))

In [ ]:
t = i == 6
print(t, type(t))

In [ ]:
s = 'Hello'
print(s, type(s))

#### Grundlæggende matematiske operationer

In [ ]:
a = 2.0
b = 3.0
print(a+b, a*b, a-b, a/b, a**2, a+b**2, (a+b)**2)

In [ ]:
c = a + b
print(c)

In [ ]:
a + b == c

In [ ]:
a + b < c

#### Lister

man kan pakke alt i en liste :-)

In [ ]:
l = ['Eskil', 1.0, sqrt]
type(l)

In [ ]:
l[2]

In [ ]:
l[0]

In [ ]:
l.append('Roman')

In [ ]:
l

In [ ]:
l.extend(['Marie',37])

In [ ]:
l

In [ ]:
l.pop(2)

In [ ]:
l

#### Funktioner

Funktioner har (normalt) in og outputs. $a$ og $b$ er vores input her og funktionen producerer $\sqrt{a^2 + b^2}$ som output.

Vi prøver lige ...

$\begin{align} a^2 + b^2 = c^2 \rightarrow c = \sqrt{a^2 + b^2} \end{align}$

In [ ]:
def pythagoras(a, b):
  return sqrt(a**2 + b**2)

In [ ]:
some_list = [(2,4),(6,7),(8,9),(1,6)]

In [ ]:
pd.DataFrame(some_list)

In [ ]:
[pythagoras(stuff[0],stuff[1]) for stuff in some_list]

In [ ]:
# Hvis man gør det rigtigt, så er det en god ide at kommentere hvad der sker. 
# Her er det en no-brainer men funktioner kan blive indviklede og
# det er good-practice at skrive "docstrings" til en anden eller en selv (i)

def pythagoras(a, b):
    """
    Computes the length of the hypotenuse of a right triangle
    
    Arguments
    a, b: the two lengths of the right triangle
    """
    
    return sqrt(a**2 + b**2)

##### Mini-assignment
* Lav en funktion, som tager to punkter $(x_1, y_1), (x_2, y_2)$ på en linje og beregner hældning $a$

$$ y = ax + b$$

$$ a = \frac{y_2- y_1}{x_2 - x_1}$$

In [ ]:
plt.plot((1,2), (2,3), 'ro-')
plt.plot((1,2), (2,2), 'bo-')
plt.plot((2,2), (2,3), 'bo-')

In [ ]:
#(1,2); (2,3)


(3-2)/(2-1)

In [ ]:
def slope(x1,x2,y1,y2):
  return ((y2-y1)/(x2-x1))

In [ ]:
slope(2,3,4,5)

#### Control flow

In [ ]:
def isNegative(n):
    if n < 0:
        return True
    else:
        return False

In [ ]:

some_numbers = np.random.randint(-10,10, size=20)

In [ ]:
sum([isNegative(x) for x in some_numbers])

##### Mini-assignment
* Lav en funktion `KtoC` som regner Kelvin om til Celcius
$$ C = K - 273.15 \quad \text{ved} \quad C\geq - 273.15$$
Funktionen udgiver `None` hvis $C < -273.15$

In [ ]:
def KtoC(k):
  c = k - 273.15
  if c >= -273.15:
    return c
  else:
    return None

In [ ]:
def KtoC(k):
  c = k - 273.15
  if c < -273.15:
    return None
  else:
    return c

In [ ]:
list(range(10))

In [ ]:
np.random.randint(-10,10, size=10)

In [ ]:
for number in [1,3,6,7,8]:
  print(number)
  print('🙄')

In [ ]:
# for-loop

even = [] # tom liste

for i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
    even.append(i*2)


print(even)

In [ ]:
# list-comprehension 

even = [2*i for i in range(10)]

print(even)

##### Mini-assignment
1. Beregn summen af integers  1 ... 100 ved at bruge `sum`, for-loop
2. Beregn summen af integers  1 ... 100 ved at bruge partial-sum formula
$$ \sum_{k=1}^n k = 1 + 2 + \cdots + (n-1) + n = \frac{n(n+1)}{2}$$

In [ ]:
# brug sum

sum(range(1,101))

In [ ]:
# for-loop

summe_1_100 = 0

for i in range(1,101):
  summe_1_100 = summe_1_100 + i

summe_1_100

In [ ]:
z = 1

In [ ]:
(100*(100+1))/2

In [ ]:
# for-loop

summe_1_100 = 0

for i in range(1,101):
  summe_1_100 = summe_1_100 + i

summe_1_100

In [ ]:
z = 1

In [ ]:
(100*(100+1))/2

# Pandas
* Collection of instruments/methods for data processing and analysis
* Fundamental: Two-dimensional (row and column) tabular data (DataFrame)
* Important subtype: Series - one-dimensional data with an index

# Series I
* One-dimensional data
* Data is labeled with an index
* Series consist of pairs (index, data)

# DataFrame
1. Forming
2. Pretty-printing
3. Slicing columns and selecting

In [ ]:
data = [['Henrik Pedersen', 42, 'Associate Professor'], 
        ['Susanne Smed', 49, 'Professor'], 
        ['Kirstine Bak', 27, 'Ph.d.-student'],
        ['Hans Hansen', 55, 'Professor']]
a = pd.DataFrame(data, columns=['Name', 'Age', 'Category'])

In [ ]:
a

In [ ]:
a.shape

In [ ]:
a['Name']  #or a.Name

In [ ]:
import pandas as pd
a = pd.Series([4, 2, 7, 8, 4, 4])
a

In [ ]:
a[2]

In [ ]:
a*2 + 4

In [ ]:
a.unique()

In [ ]:
a[2]

In [ ]:
a.isin([2, 4])

# Series II
* Indexing using non-integer-based indexing

In [ ]:
a = pd.Series([4, 2, 7, 8], index=['Spring', 'Summer', 'Autumn', 'Winter'])
a

In [ ]:
a['Winter']

## Difference between a view and a copy

In [ ]:
a[2:4]['Age'] += 1
a

In [ ]:
a.loc[2:4, 'Age'] += 1
a

## Manipulation and arithmetic

In [ ]:
a['Age'] += 1

In [ ]:
a['Compensation'] = [44000, 66000, 30000, 65000]

In [ ]:
a

## Membership and comparison

In [ ]:
a.Category.isin(['Professor'])

In [ ]:
a[a.Category.isin(['Professor'])]

In [ ]:
a.Compensation > 50000

In [ ]:
del a['Compensation']
a

# Statistics
* First-order

In [ ]:
a.mean()

In [ ]:
a.Age.mean()

In [ ]:
a.median()

## Second-order statistics
Pearson correlation coefficient
$$ r_{xy} = \frac{\sum_{i=1}^n (x_i - \bar x)(y_i - \bar y)}{\sqrt{\sum_{i=1}^n (x_i - \bar x)}\sqrt{\sum_{i=1}^n (yi - \bar y)}}$$

In [ ]:
a['Compensation'] = [44000, 66000, 30000, 65000]
a.corr()

In [ ]:
a.cov()