Vi er først nødt til, at skrive `!pip install countrycode`. Dette installerer `countrycode` pakken på jeres maskine, dette er nødvendigt for, at bruge pakken.

In [3]:
!pip install countrycode

Collecting countrycode
  Downloading countrycode-0.2.tar.gz (12 kB)
Building wheels for collected packages: countrycode
  Building wheel for countrycode (setup.py): started
  Building wheel for countrycode (setup.py): finished with status 'done'
  Created wheel for countrycode: filename=countrycode-0.2-py3-none-any.whl size=13575 sha256=aaa035c3c2e020399141d11d9f0916bde2f43b64104952a829334d03dda28eac
  Stored in directory: c:\users\sebastian linde\appdata\local\pip\cache\wheels\b2\1d\d0\08437779daf0f2c71d3367ebb2c18ed516069c4050f5855adf
Successfully built countrycode
Installing collected packages: countrycode
Successfully installed countrycode-0.2

Når dette er gjort skulle der gerne stå "Successfully install countrycode-0.2" nederst i outputtet. Dette er også sådan man installerer andre pakker typisk, så det er en god ting, at skrive bag øret hvis man gerne vil arbejde lidt videre i Python og får brug for andre libaries.

In [24]:
# Importerer nødvendige libraries:
import pandas as pd
from countrycode import countrycode

In [18]:
# Vi importerer lige noget data vi kan arbejde med så guiden giver mere mening.
trips_data = pd.read_csv('https://sds-aau.github.io/SDS-master/M1/data/trips.csv')
trips = pd.DataFrame(trips_data)

In [19]:
# Ser lige de første 5 rækker.
trips.head()

,Unnamed: 0,username,country,country_code,country_slug,date_end,date_start,latitude,longitude,place,place_slug
0,0,@lewellenmichael,Mexico,MX,mexico,2018-06-15,2018-06-04,21,-101,Guanajuato,mexico
1,1,@lewellenmichael,Mexico,MX,mexico,2018-06-03,2018-05-31,19,-99,Mexico City,mexico-city-mexico
2,2,@lewellenmichael,Mexico,MX,mexico,2017-11-05,2017-11-01,21,-86,Cancun,cancun-mexico
3,3,@lewellenmichael,Jordan,JO,jordan,2017-08-07,2017-07-24,31,35,Amman,amman-jordan
4,4,@waylandchin,China,CN,china,2017-03-18,2017-02-17,40,122,Yingkou,china

In [20]:
# Vi fjerner lige de kolonner vi ikke skal bruge her
trips.drop(columns=['username', 'country_slug', 'date_end', 
                    'date_start', 'latitude', 'longitude', 
                    'place', 'place_slug'], inplace=True)

In [35]:
# Ser lige de første 5 rækker igen
trips.head()

   Unnamed: 0 country country_code
0           0  Mexico           MX
1           1  Mexico           MX
2           2  Mexico           MX
3           3  Jordan           JO
4           4   China           CN

In [ ]:
# Hvor stor er vores trips

Nu vil vi forsøge, at lave en ny `country_code` kolonne vha. `countrycode` pakken og `country` kolonnen.

In [42]:
country_codes = countrycode.countrycode(codes=trips['country'], origin='country_name', target='iso3c')

Nu kan vi se vi får countrycodes som output fra den ovenstående funktion. Dette kan vi bruge til, at lave en ny kolonne i DataFramen.

In [43]:
trips['country_codes'] = country_codes

In [44]:
trips.head()

   Unnamed: 0 country country_code country_codes
0           0  Mexico           MX           MEX
1           1  Mexico           MX           MEX
2           2  Mexico           MX           MEX
3           3  Jordan           JO           JOR
4           4   China           CN           CHN

Nu er der tilføjet en ekstra kolonne, som indeholder country_codes som er genereret fra `countrycode` pakken efter `iso3c` konventionen. Hvis i skal bruge country codes med kun to tegn kan i bruge `iso2c` i stedet.